<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Stream</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/chat.css">
	<script src="/static/js/handlebars-v1.3.0.js" type='text/javascript'></script>
	<script src="/static/js/jquery.min.js" type='text/javascript'></script>
	<script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/static/js/chat.js" type='text/javascript'></script>
<body>
	{%raw%}
	<script id="message-template" type="text/x-handlebars-template">
		<li class="{{direction user}} clearfix">
			<span class="chat-img pull-{{direction user}}">
				<img {{gravatar src=avatar s=30}} alt="User Avatar" class="img-circle"/>
			</span>
			<div class="chat-body clearfix">
				<div class="header">
				    <strong class="primary-font">{{user}}</strong> 
					<small class="{{pull_right user}} text-muted">
				    	<span class="glyphicon glyphicon-time"></span> {{data_format date}}</small>
				</div>
				<p>{{message}}</p>
			</div>
		</li>
	</script>
	{%endraw%}
	
	<div class='container'>
		<div class="row">
			<div class="panel panel-primary">
			{#Head#}
			<div class="panel-heading">
				<span class="glyphicon glyphicon-comment"></span> Chat
				{% if user_loggend %}
				<div class="btn-group pull-right">
					<a href="{{url_for('logout')}}" class="btn btn-default btn-xs dropdown-toggle">
					    <span class="glyphicon glyphicon glyphicon-off"></span>
					</a>
				</div>
				{% endif %}
			</div>
			{#endHed#}
			<div class="panel-body">
				<ul id='message' class="chat"></ul>
			</div>
			<div class="panel-footer">
				<form onsubmit='return false;'>
				<div class="input-group">
					{% if user_loggend %}
					<input type='text' id='new-message' class="form-control input-sm" placeholder="Type your message here...">
					<span class="input-group-btn">
						<button type="button" id='send' class="btn btn-warning btn-sm">Send message</button>
					</span>
					{% else %}
					<input type='email' id='email' class="form-control input-sm" placeholder="Email" required>
					<span class="input-group-btn">
						<button type="submit" id='sign-in' class="btn btn-warning btn-sm">Sign In</button>
					</span>
					{% endif %}
				</div>
				</form>
			</div>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			c = new Chat('/stream');
			{% if user_loggend %}
				c.setUid('{{session.user.email}}')
			{% endif %}
		});
	</script>
</body>		
</html>